.generic-field.last {
  opacity: 0;
}

.generic-field {
  background: rgba(1,1,1,0.1);
  display: inline-block;
  border: 1px solid rgba(1,1,1,0.2);
  box-sizing: border-box;
  position: relative;
  color: #505050;
  margin: 2px;
}

.generic-field label {
  vertical-align: top;
  cursor: pointer;
}
.generic-field .fa.fa-times {
  font-size: .9em;
  padding-left: 0.5em;
}

.generic-field label.collapsed {
  white-space: nowrap;
  display: block;
  width: auto !important;
  cursor: default !important;
}

.generic-field .content { top: 40px; z-index: 2; right: 0; }
.generic-field input { font-size: 30px; border-radius: 6px; }
.generic-field .selection { font-size: 25px; }
.generic-field label { white-space: pre-wrap; display: inline-block; min-height: 30px; line-height: 30px; width: 20px; }
.generic-field {
  min-height: 30px; line-height: 30px; border-radius: 6px;
}

.generic-field .generic-field .content { top: 35px; }
.generic-field .generic-field input { font-size: 25px; border-radius: 5px; }
.generic-field .generic-field .selection { font-size: 20px; }
.generic-field .generic-field label { white-space: pre-wrap; display: inline-block; min-height: 30px; line-height: 30px; width: 18px; }
.generic-field .generic-field {
  min-height: 25px; line-height: 25px; border-radius: 5px;
}

.generic-field .generic-field .generic-field .content { top: 30px; }
.generic-field .generic-field .generic-field input { font-size: 20px; border-radius: 4px; }
.generic-field .generic-field .generic-field .selection { font-size: 15px; }
.generic-field .generic-field .generic-field label { white-space: pre-wrap; display: inline-block; min-height: 25px; line-height: 25px; width: 16px; }
.generic-field .generic-field .generic-field {
  min-height: 20px; line-height: 20px; border-radius: 4px;
}

.generic-field .generic-field .generic-field .generic-field .content { top: 25px; }
.generic-field .generic-field .generic-field .generic-field input { height: 100%; font-size: 15px; border-radius: 3px; }
.generic-field .generic-field .generic-field .generic-field .selection { font-size: 10px; }
.generic-field .generic-field .generic-field .generic-field label { white-space: pre-wrap; display: inline-block; min-height: 20px; line-height: 20px; width: 14px; }
.generic-field .generic-field .generic-field .generic-field {
  min-height: 15px; line-height: 15px; border-radius: 3px;
}

.generic-field .generic-field .generic-field .generic-field .generic-field .content { top: 20px; }
.generic-field .generic-field .generic-field .generic-field .generic-field input { font-size: 10px; border-radius: 2px; }
.generic-field .generic-field .generic-field .generic-field .generic-field .selection { font-size: 5px; }
.generic-field .generic-field .generic-field .generic-field .generic-field label { white-space: pre-wrap; display: inline-block; min-height: 15px; line-height: 15px; width: 12px; }
.generic-field .generic-field .generic-field .generic-field .generic-field {
  min-height: 10px; line-height: 10px; border-radius: 2px;
}

.generic-field input {
  height: 100%;
  border: none;
  box-sizing: border-box;
  vertical-align: top;
  border-radius: 5px;
  width: 10px;
}

.generic-field .content {
  display: none;
  position: absolute;
  top: 38px;
  left: 0;
  background: rgb(230, 230, 230);
  color: #505050;
  border: 1px solid rgba(1,1,1,0.2);
  border-top: none;
  max-height: 400px;
  overflow-y: scroll;
}

.generic-field .content label {
  display: block;
  border-bottom: 1px solid rgba(1,1,1,0.2);
  white-space: nowrap;
  padding: .2em;
  overflow: hidden;
}

.generic-field .generic-field .content label:hover {
  background: gray;
  color: white;
}

.generic-field .content.active {
  display: block;
}

.generic-field .selection {
  display: inline;
}
