{{#resolve-content content=all as |resolvedAll|}}

  {{#if resolvedAll.length}}
    <div class='generic-field'>
      {{recursive-input
        content=(get-parents resolvedAll)
        tree=myTree

        selectionLimit=selectionLimit
        optionSelectionLimitPath=optionSelectionLimitPath

        collapseLimit=collapseLimit
        optionCollapseLimitPath=optionCollapseLimitPath

        optionExpandPath=optionExpandPath

        optionLabelPath=optionLabelPath
        optionValuePath=optionValuePath
        optionChildrenPath=optionChildrenPath

        loadMore=(action (optional-action loadMore))
        addSelection=(action 'addSelection')
        removeSelection=(action 'removeSelection')}}
    </div>
  {{else}}
    loading...
  {{/if}}

{{/resolve-content}}
