{{#resolve-content content=all as |resolvedAll|}}

  {{#if resolvedAll.length}}
    <div class='generic-field'>
      {{generic-field
        content=(get-parents resolvedAll)
        tree=myTree

        limit=limit
        optionLabelPath=optionLabelPath
        optionValuePath=optionValuePath
        optionChildrenPath=optionChildrenPath
        optionLimitPath=optionLimitPath

        loadMore=(action (optional-action loadMore))
        addSelection=(action 'addSelection')
        removeSelection=(action 'removeSelection')}}
    </div>
  {{else}}
    loading...
  {{/if}}

{{/resolve-content}}
