<h2 id="title">Welcome to Ember</h2>

{{generic-input-field
  content=array
  optionLabelPath='label'}}

{{generic-input-field
  content=promise
  optionLabelPath='label'}}

{{generic-input-field
  content=arrayOfPromises
  optionLabelPath='label'}}
